$primary-color: bleue;
$secondary-color: white;

$base-size: 20px;
$base-line-height: 1.7;
$base-font: Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$base-color: black;

$header-line-height: 1.2;

$content-width: 960px;
$breakpoint: 640px;
