{% extends "base.html" %}

{% block rss %}
  {% set rss_path = "tags/" ~ term.name ~ "/rss.xml" %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=rss_path, trailing_slash=false) }}">
{% endblock rss %}

{% block content %}
    <h1 class="title">
        Liste des articles pour le tag {{ term.name }}
    </h1>
    {% for page in term.pages %}
    <div class="post">
        {{ macros::post_header(page=page, excerpt=true) }}
    </div>
    {% endfor %}
{% endblock content %}
